body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(135deg, #3A86FF, #8338EC, #FF006E, #FB5607, #FFBE0B);
  background-size: 400% 400%;
  animation: gradientBackground 5s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBackground {
    0% { background-position: 0% }
    25% { background-position: 50% }
    75% { background-position: 100% }
    100% { background-position: 0% }
}


.app {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.app {
  background: white;
  opacity: 0.8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  color: #264653;
}

.select-container {
  margin: 20px 0;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #264653;
  font-size: 16px;
  outline: none;
}

select:focus {
  border-color: #2a9d8f;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  color: #e76f51;
}

.weather-info p {
  margin: 5px 0;
  color: #264653;
}

.weather-info img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.error {
  color: red;
  margin-top: 20px;
}

.weather-info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f8ff; 
  color: black; 
  font-family: Arial, sans-serif;
  gap: 20px;
}

.weather-info h2 {
  flex: 1 100%;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #003366;
}

.temperature {
  flex: 1 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #005b99; 
}

.temperature img {
  margin-right: 10px;
}

.condition {
  flex: 1 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  color: #002147; 
}

.time{
  display: flex;
  flex: 1 100%;
}

.day, .night {
  font-size: 16px;
  color: #336699; 
}

.day {
  border-right: 2px solid #003366; 
}


.headline {
  flex: 1 100%;
  background: #002147; 
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  color: white; 
}

.headline:hover{
  border: 2px , black ,solid;
}

.headline p {
  margin: 5px 0;
  color: white;
}

.links {
  flex: 1 100%;
  margin-top: 10px;
}

.links a {
  color: #001f3f; 
  text-decoration: none;
  font-weight: bold;
  text-underline-position: below;
}

img.weather-icon {
  flex: 1 100%;
  margin-top: 20px;
  max-width: 100px;
  display: block;
}

@media (min-width: 600px) {
  .day, .night {
    flex: 1 50%;
  }
} 



